.post-page {
    display: flex;
    justify-content: center;
}

.post-page>.post-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(3.9px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

}

.post-page .css-cpdzt9-MuiPaper-root-MuiCard-root,
.post-page .css-1pj4fj0 {
    background: none;
}